@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

nav ul {
    list-style-type: none;
    background-color: black;
    height: 100px;

}

nav ul li {
    display: inline-block;
    padding: 30px 300px 10px 200px;
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}


.banner {
    background-repeat: no-repeat;
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    height: 300px;
    width: auto;
}

.banner h1 {
    background-color: rgba(176, 179, 182, 0.527);
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    color: rgb(8, 8, 8);
}

.banner p {
    text-align: center;
    font-size: 25px;
    color: rgb(8, 8, 8);
    font-weight: bold;
    background-color: rgba(176, 179, 182, 0.527);
    margin-top: 150px;
}


.secao-temp {
    background-color: aliceblue;
    border: 2px solid black;
    height: 750px;
}

.secao-titulo {
    text-align: start;
    font-size: 35px;
    margin: 20px 0px 20px 20px
}

.secao-subtitulo {
    text-align: start;
    font-size: 25px;
    margin: 0px 0px 20px 20px;
}

.secao-descricao {
    font-size: 20px;
    text-align: justify;
    margin: 0px 20px 20px 20px;
}

.link {
    margin-left: 20px;
    text-decoration: none;
    font-size: 23px;
}

.imagem {
    margin: 0px 0px 20px 20px;
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;
}