@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    *{
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    background-color: black;
}


.banner{
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-image: url(../img/banner3.jpg);
    background-size:cover;
    height: 300px;
    width: auto;
    
}

.banner h1{
    font-size: 30px;
    text-align: center;
    font-weight:bold;
    color: white
}

.banner p{
    text-align:center;
    font-size: 25px;
    color: rgb(235, 220, 220);
    font-weight: bold;

}


.secao-temp{
    background-color: aliceblue;
}

.secao-titulo{
    text-align:start;
    font-size:20px ;
}

.secao-subtitulo{
    text-align: start;
    font-size: 18px;
}

.secao-descricao{
    font-size: 15px;
    text-align: start;
    text-align: justify;
}

.link{
    text-decoration: none;
}
